<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Emoticons</key>
	<dict>
		<key>angry.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&gt;:o</string>
				<string>&gt;:-o</string>
				<string>&gt;:O</string>
				<string>&gt;:-O</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Angry</string>
		</dict>
		<key>blush.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-[</string>
			</array>
			<key>Name</key>
			<string>Blush</string>
		</dict>
		<key>cry.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:&apos;(</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Cry</string>
		</dict>
		<key>scared.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-!</string>
			</array>
			<key>Name</key>
			<string>Scared</string>
		</dict>
		<key>sad.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-(</string>
				<string>:(</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Sad</string>
		</dict>
		<key>gasp.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>=-o</string>
				<string>=-O</string>
				<string>=o</string>
				<string>=O</string>
				<string>:o</string>
				<string>:O</string>
				<string>:-o</string>
				<string>:-O</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Gasp</string>
		</dict>
		<key>grin.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-D</string>
				<string>:D</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Grin</string>
		</dict>
		<key>angel.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>O:-)</string>
				<string>o:-)</string>
			</array>
			<key>Name</key>
			<string>Angel</string>
		</dict>
		<key>kiss.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-*</string>
			</array>
			<key>Name</key>
			<string>Kiss</string>
		</dict>
		<key>wub.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-x</string>
				<string>:-X</string>
			</array>
			<key>Name</key>
			<string>Wub</string>
		</dict>
		<key>money.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-$</string>
			</array>
			<key>Name</key>
			<string>Money</string>
		</dict>
		<key>smile.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-)</string>
				<string>:)</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Smile</string>
		</dict>
		<key>tongue.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-p</string>
				<string>:-P</string>
				<string>:P</string>
				<string>:p</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Tongue</string>
		</dict>
		<key>erm.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-\</string>
				<string>:-/</string>
				<string>:/</string>
				<string>:\</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Erm</string>
		</dict>
		<key>cool.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>8-)</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Cool</string>
		</dict>
		<key>wink.tiff</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>;-)</string>
				<string>;)</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Wink</string>
		</dict>
		<key>angry.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:angry:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Angry</string>
	</dict>
<key>baww.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:baww:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>baww</string>
	</dict>
<key>biggrin.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:biggrin:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>biggrin</string>
	</dict>
<key>cleanfuckyea.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:cleanfuckyea:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>cleanfuckyea</string>
	</dict>
<key>closeenough.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:closeenough:</string>
				<string>:ce:</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>closeenough</string>
	</dict>
<key>concentrated.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:concentrated:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>concentrated</string>
	</dict>
<key>concentrated2.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:concentrated2:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>concentrated2</string>
	</dict>
<key>conflictingemotions.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:conflictingemotions:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>conflictingemotions</string>
	</dict>
<key>derrrp.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:derrrp:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>derrrp</string>
	</dict>
<key>determined.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:determined:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>determined</string>
	</dict>
<key>epicfailguy.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:epicfailguy:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>epicfailguy</string>
	</dict>
<key>dudecomeon.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:dudecomeon:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>dudecomeon</string>
	</dict>
<key>ewbte.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:ewbte:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>ewbte</string>
	</dict>
<key>ewbte2.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:ewbte2:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>ewbte2</string>
	</dict>
<key>femalehappy.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:femalehappy:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>femalehappy</string>
	</dict>
<key>femalemilk.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:femalemilk:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>femalemilk</string>
	</dict>
<key>femalerage.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:femalerage:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>femalerage</string>
	</dict>
<key>femalerage2.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:femalerage2:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>femalerage2</string>
	</dict>
<key>foreveralone.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:foreveralone:</string>
				<string>:fa:</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>foreveralone</string>
	</dict>
<key>french.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:french:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>french</string>
	</dict>
<key>fuckyea.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:fuckyea:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>fuckyea</string>
	</dict>
<key>fullpanel.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:fullpanel:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>fullpanel</string>
	</dict>
<key>grandma.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:grandma:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>grandma</string>
	</dict>
<key>gtfo.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:gtfo:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>gtfo</string>
	</dict>
<key>happy.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:happy:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>happy</string>
	</dict>
<key>hehehe.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:hehehe:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>hehehe</string>
	</dict>
<key>herpderp.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:herpderp:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>herpderp</string>
	</dict>
<key>hitler.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:hitler:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>hitler</string>
	</dict>
<key>high.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:high:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>high</string>
	</dict>
<key>horror.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:horror:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>horror</string>
	</dict>
<key>iamdisappointed.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:iamdisappointed:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>iamdisappointed</string>
	</dict>
<key>lol.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:lol:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>lol</string>
	</dict>
<key>megusta.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:megusta:</string>
				<string>:mg:</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>megusta</string>
	</dict>
<key>melvin.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:melvin:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>melvin</string>
	</dict>
<key>milk.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:milk:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>milk</string>
	</dict>
<key>mouthopen.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:mouthopen:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>mouthopen</string>
	</dict>
<key>originalrage.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:originalrage:</string>
				<string>:fu:</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>originalrage</string>
	</dict>
<key>originaltroll.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:troll:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>originaltroll</string>
	</dict>
<key>pffftcchchchhfffttt.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:pffftcchchchhfffttt:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>pffftcchchchhfffttt</string>
	</dict>
<key>pig.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:pig:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>pig</string>
	</dict>
<key>pokerface.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:pokerface:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>pokerface</string>
	</dict>
<key>prrrr.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:prrrr:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>prrrr</string>
	</dict>
<key>rage1.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:rage:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>rage1</string>
	</dict>
<key>redeyes.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:redeyes:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>redeyes</string>
	</dict>
<key>rage2.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:rage2:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>rage2</string>
	</dict>
<key>retarddog.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:retarddog:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>retarddog</string>
	</dict>
<key>sadtroll.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:sadtroll:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>sadtroll</string>
	</dict>
<key>shocked.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:shocked:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>shocked</string>
	</dict>
<key>sidemouth.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:sidemouth:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>sidemouth</string>
	</dict>
<key>high.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:high:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>high</string>
	</dict>
<key>smile.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:smile:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>smile</string>
	</dict>
<key>smile2.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:smile2:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>smile2</string>
	</dict>
<key>somuchwin.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:somuchwin:</string>
				<string>:smw:</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>somuchwin</string>
	</dict>
<key>straightface.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:straightface:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>straightface</string>
	</dict>
<key>suspicious.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:suspicious:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>suspicious</string>
	</dict>
<key>sweaty.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:sweaty:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>sweaty</string>
	</dict>
<key>thoughtful.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:thoughtful:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>thoughtful</string>
	</dict>
<key>troll.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:troll:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>troll</string>
	</dict>
<key>waitaminute.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:waitaminute:</string>
				<string>:wam:</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>waitaminute</string>
	</dict>
<key>whywithhands.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:whywithhands:</string>
				<string>:why:</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>whywithhands</string>
	</dict>
<key>laughing.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:laughing:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>laughing</string>
	</dict>
<key>okay.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:okay:</string>
				<string>:k:</string>
				<string>:k</string>
			</array>
			<key>Name</key>
			<string>okay</string>
	</dict>
<key>hellyes.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:hellyes:</string>
				<string>:freddy:</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>hellyes</string>
	</dict>
<key>notbad.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:notbad:</string>
				<string>:obama:</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>notbad</string>
	</dict>
<key>areyoukidding.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:areyoukidding:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>areyoukidding</string>
	</dict>
<key>chan.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:chan:</string>
				<string>:seriously:</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>chan</string>
	</dict>
<key>what.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:what:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>what</string>
	</dict>
<key>uhmno.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:uhmno:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>uhmno</string>
	</dict>
<key>classyfap.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:classyfap:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>classyfap</string>
	</dict>
<key>fapfapfap.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:fapfapfap:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>fapfapfap</string>
	</dict>
<key>sweetjesus.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:sweetjesus:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>sweetjesus</string>
	</dict>
<key>yawn.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:yawn:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>yawn</string>
	</dict>
<key>trolldad.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:trolldad:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>trolldad</string>
	</dict>
<key>gaytroll.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:gaytroll:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>gaytroll</string>
	</dict>
<key>hgh.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:hgh:</string>
				<string>:hatersgonnahate:</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>hatersgonnahate</string>
	</dict>
<key>yuno.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:yuno:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>yuno</string>
	</dict>
<key>heckno.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:heckno:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>heckno</string>
	</dict>
<key>challenge2.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:challenge2:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>challenge2</string>
	</dict>
<key>considered.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:considered:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>considered</string>
	</dict>
<key>pickle.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:pickle:</string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string>pickle</string>
	</dict>
<key>magnus.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:magnus:</string>
				<string>:pfarrer:</string>
				<string>:whatm:</string>
			</array>
			<key>Name</key>
			<string>magnus</string>
	</dict>
<key>challenge.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:challenge:</string>
				<string>:accepted:</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>challenge accepted</string>
	</dict>
<key>gusi.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:gusi:</string>
				<string>:wos:</string>
			</array>
			<key>Name</key>
			<string>gusi</string>
	</dict>
	<key>strache.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:strache:</string>
			</array>
			<key>Name</key>
			<string>strache</string>
	</dict>
	<key>gorbach.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:gorbach:</string>
			</array>
			<key>Name</key>
			<string>gorbach</string>
	</dict>
		<key>werner1.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:werner1:</string>
			</array>
			<key>Name</key>
			<string>werner1</string>
	</dict>
		<key>werner2.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:werner2:</string>
			</array>
			<key>Name</key>
			<string>werner2</string>
	</dict>
		<key>werner3.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:werner3:</string>
			</array>
			<key>Name</key>
			<string>werner3</string>
	</dict>
		<key>werner4.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:werner4:</string>
			</array>
			<key>Name</key>
			<string>werner4</string>
	</dict>
			<key>werner5.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:werner5:</string>
			</array>
			<key>Name</key>
			<string>werner5</string>
	</dict>

	<key>miezi1.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:miezi1:</string>
			</array>
			<key>Name</key>
			<string>miezi1</string>
	</dict>

	<key>miezi2.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:miezi2:</string>
			</array>
			<key>Name</key>
			<string>miezi2</string>
	</dict>

	<key>miezi3.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:miezi3:</string>
			</array>
			<key>Name</key>
			<string>miezi3</string>
	</dict>

	<key>miezi4.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:miezi4:</string>
			</array>
			<key>Name</key>
			<string>miezi4</string>
	</dict>

	<key>moertel.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:moertel:</string>
				<string>:baumeister:</string>
				<string>:lugner:</string>
				<string>:hatsoff:</string>
			</array>
			<key>Name</key>
			<string>moertel</string>
	</dict>

		<key>heifi1.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:heifi1:</string>
			</array>
			<key>Name</key>
			<string>heifi1</string>
	</dict>

		<key>heifi2.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:heifi2:</string>
				<string>:quote:</string>
			</array>
			<key>Name</key>
			<string>heifi2</string>
	</dict>

		<key>heifi3.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:heifi3:</string>
			</array>
			<key>Name</key>
			<string>heifi3</string>
	</dict>

		<key>heifi4.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:heifi4:</string>
			</array>
			<key>Name</key>
			<string>heifi4</string>
	</dict>

		<key>heifi5.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:heifi5:</string>
				<string>:daumenrauf:</string>
			</array>
			<key>Name</key>
			<string>heifi5</string>
	</dict>

	<key>specht1.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:specht1:</string>
				<string>:spindi1:</string>
			</array>
			<key>Name</key>
			<string>specht1</string>
	</dict>

	<key>specht2.png</key>
	<dict>
		<key>Equivalents</key>
			<array>
				<string>:specht2:</string>
				<string>:spindi1:</string>
				<string>:dafuq:</string>
			</array>
			<key>Name</key>
			<string>specht2</string>
	</dict>
	</dict>
</dict>
</plist>
